<div class="side-comment <%= sectionClasses %>">
  <a href="#" class="marker">
    <span><%= comments.length %></span>
  </a>
  
  <div class="comments-wrapper">
    <ul class="comments">
      <% _.each(comments, function( comment ){ %>
        <%= _.template(commentTemplate, { comment: comment, currentUser: currentUser }) %>
      <% }) %>
    </ul>
    
    <a href="#" class="add-comment">Leave a comment</a>

      <div class="comment-form">
        <% if (currentUser) { %>
          <div class="author-avatar">
            <img src="<%= currentUser.avatarUrl %>">
          </div>
          <p class="author-name">
            <%= currentUser.name %>
          </p>
        <% } else { %>
          <p class="author-name">
            <input type="text" class="comment-box" placeholder="Name">
          </p>
          <p class="author-email">
            <input type="text" class="comment-box" placeholder="Email">
          </p>
        <% } %>

        <textarea placeholder="Your comment" class="comment-box <% if (currentUser) { %>right-of-avatar <% } %>"></textarea>
        <p class="validation-error"></p>

        <div class="actions <% if (currentUser) { %> right-of-avatar <% } %>">
          <a href="#" class="action-link post">Post</a>
          <a href="#" class="action-link cancel">Cancel</a>
        </div>
      </div>
  </div>
</div>